NUMCORES            =   1
#DDR_EFFICIENCY parameter is external to SOC, Practically 60% efficiency is achieved in real system, 
#but be careful while comparing with other benchmarks and make sure that it is conisdered in other benchmarks similarly
DDR_EFFICIENCY      =   0.6
NUMEMIF_PORTS       =   1
#0: 8-bit, 1: 16-bit
DATATYPE            =   0
FILENAME_NET        =   "../../test/testvecs/models/internal/caffe/jsegNet21/deploy.prototxt"
FILENAME_PARAMS     =   "../../test/testvecs/models/internal/caffe/jsegNet21/deploy.caffemodel"
#0: caffee, 1: TensorFlow
FILEFORMAT_NET      =   0
OUTPUT_DIR          =   jsegNet21
